.example-card {
    width: 250px;
    aspect-ratio: 4/5;
}

.bold-500{
    font-weight: 500;
}

.bold-800 {
    font-weight: 800;
}

.flag {
    width: 100%;
    aspect-ratio: 16 / 9;
    
    img {
        height: 100%;
    }
}