.example-card {
    width: 280px;
    aspect-ratio: 4/5;
}

.bold-500{
    font-weight: 500;
}

.bold-800 {
    font-weight: 800;
}

.flag {
    width: 100%;
    aspect-ratio: 26 / 15;
    
    img {
        height:100%;
    }
}

.darkMode {
    background-color:  hsl(209, 23%, 22%);
    color: white;
}