.example-card {
    width: 250px;
    height: 370px;
}

.bold-600{
    font-weight: 600;
}

.bold-800 {
    font-weight: 800;
}

.flag {
    height: 10rem;
    
    img {
        height: 100%;
    }
}