<div class="container">
    <button mat-raised-button [routerLink]="''">Back</button>

    <div class="horizontal-flex-container">
        <div class="left-flex-container"><img mat-card-image src="{{data.flag}}" alt=""></div>

        <div class="right-flex-container">
            <div><h1>{{ data.name }}</h1></div>
            <div><span>Native Name: </span>{{ data.nativeName }}</div>
            <div><span>Population: </span>{{ data.population }}</div>
            <div><span>Region: </span>{{ data.region }}</div>
            <div><span>Sub Region: </span>{{ data.subregion }}</div>
            <div><span>Capital: </span>{{ data.capital }}</div>
            <div><span>Top Level Domain: </span>{{ data.topLevelDomain }}</div>
            <div><span>Currencies: </span>{{ data.currencies[0].name }}</div>
            <div><span>Languages: </span>{{ languages }}</div>
            <div *ngIf="data.borders[0]" class="little-horizontal-flex-container">
                <span>Border Countries: </span>
                <div *ngFor="let item of data.borders">
                    <button mat-raised-button  (click)="getData(item)">{{ item }}</button>
                </div>
            </div>            
        </div>
    </div>
</div>