.horizontal-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
}

.body-container {
    background-color: #fafafa;
    height: fit-content;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        div {
            margin: 2rem;
        }
    }
}

@media screen and (max-width: 600px) {

    .horizontal-flex-container {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        height: fit-content;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}