.horizontal-flex-container {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    align-items:center;
    height: 5rem;
    
    h1 {
        font-weight: 800;
    }
}

@media screen and (max-width: 600px) {

    .horizontal-flex-container {
        justify-content: center;
    }
}