.horizontal-flex-container {
    align-items: center;
    height: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;  
    
    h1 {
        font-weight: 800;
    }
}

@media screen and (max-width: 600px) {

    .horizontal-flex-container {
        padding: 1rem 1rem 0rem 1rem;
    }
}