/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 300;
}


